.Xauthority
.angular-config.json
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/Code/
.config/cef_user_data/
.config/chromium/
.config/configstore/
.config/dconf/
.config/htop/
.config/pulse/
.fehbg
.git-credentials
.gitconfig
.local/
.npm/
.nv/
.pki/
.pulse-cookie
.steam/
.steampath
.steampid
.teeworlds/
.vim/
.viminfo
.vscode/
.xinitrc
angular/
./
